https://www.youtube.com/watch?v=ZDa-Z5JzLYM
Link for lesson

## ASSIGNMENT 1 SUBMITTED BY-
## SHIVANSH MANGLA
## 102203324
## 2CO35

A class with 10 students wants to produce some information from the results of the four standard
tests in Maths, Science, English and IT. Each test is out of 100 marks. The information output
should be the highest, lowest and average mark for each test and the highest, lowest and average
mark overall. Write a program in Python to complete this task.

In [ ]:
Maths = [78, 42, 90, 65, 88, 75, 50, 93, 68, 85]
Science = [55, 80, 37, 72, 89, 60, 45, 78, 92, 63]
English = [70, 84, 49, 95, 56, 73, 82, 41, 68, 90]
IT = [37, 84, 60, 78, 50, 92, 69, 45, 81, 58]

Subjects_dict = {
    "Maths" : Maths,
    "Science" : Science,
    "English" : English,
    "IT" : IT
}

In [ ]:
def averageMarks(Subject):
  sum = 0
  for i in range(len(Subject)):
    sum += Subject[i]

  return (sum/len(Subject))

In [ ]:
def minMarks(Subject):
  min = 100
  for i in range(len(Subject)):
    if(Subject[i] < min):
      min = Subject[i]

  return min

In [ ]:
def maxMarks(Subject):
  max = 0
  for i in range(len(Subject)):
    if(Subject[i] > max):
      max = Subject[i]

  return max

In [ ]:
def stats(Subjects):
  for key in list(Subjects.keys()):
    print("Maximum Marks obtained in {} is {}".format(key , maxMarks(Subjects[key])))
    print("Minimum Marks obtained in {} is {}".format(key , minMarks(Subjects[key])))
    print("Average Marks obtained in {} is {}".format(key , averageMarks(Subjects[key])))

    print('\n')

In [ ]:
stats(Subjects)

Maximum Marks obtained in Maths is 93
Minimum Marks obtained in Maths is 42
Average Marks obtained in Maths is 73.4


Maximum Marks obtained in Science is 92
Minimum Marks obtained in Science is 37
Average Marks obtained in Science is 67.1


Maximum Marks obtained in English is 95
Minimum Marks obtained in English is 41
Average Marks obtained in English is 70.8


Maximum Marks obtained in IT is 92
Minimum Marks obtained in IT is 37
Average Marks obtained in IT is 65.4

Write a Python Program to input basic salary of an employee and calculate its Gross salary
according to following: Basic Salary <= 10000 : HRA = 20%, DA = 80% Basic Salary <= 20000
: HRA = 25%, DA = 90% Basic Salary > 20000 : HRA = 30%, DA = 95%

In [ ]:
BasicSalary , HRA , DA = None , None , None

BasicSalary = int(input("Enter the basic salary of the employee : "))

if(BasicSalary <= 10000):
  HRA = 20
  DA = 80
elif(BasicSalary>10000 and BasicSalary<=20000):
  HRA = 25
  DA = 90
else:
  HRA = 30
  DA = 95

print("Basic Salary is ${} , HRA is {}% , DA is {}%.".format(BasicSalary,HRA,DA))

Enter the basic salary of the employee : 6577
Basic Salary is $6577 , HRA is 20% , DA is 80%.

Write a Python program to check the validity of password input by users.
Validation:
* At least 1 letter between [a-z] and 1 letter between [A-Z].
* At least 1 number between [0-9].
* At least 1 character from [$#@].
* Minimum length 6 characters.
* Maximum length 16 characters.

In [ ]:
def checkValidPss(pwd):
  test1 , test2 , test3 , test4 , test5 = False,False,False,False,False

  if(any(char.islower() for char in pwd) and any(char.isupper() for char in pwd)):
    test1 = True

  if(any(char.isdigit() for char in pwd)):
    test2 = True

  if(any(char in ['$','#','@'] for char in pwd)):
    test3 = True

  if(len(pwd) >= 6):
    test4 = True

  if(len(pwd) <= 16):
    test5 = True


  if(test1 and test2 and test3 and test4 and test5):
    print("{} is a valid password".format(pwd))
  else:
    print("Please meet the following requirement(s) : \n")
    if(not test1):
      print("At least 1 letter between [a-z] and 1 letter between [A-Z]")
    if(not test2):
      print("At least 1 number between [0-9]")
    if(not test3):
      print("At least 1 character from [$#@]")
    if(not test4):
      print("Minimum length 6 characters")
    if(not test5):
      print("Maximum length 16 characters")

In [ ]:
password = str(input("Enter Password : "))

checkValidPss(password)

Enter Password : jbhfwfNJU8$
jbhfwfNJU8$ is a valid password

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
(i) WAP to add 200 and 300 to L.
(ii) WAP to remove 10 and 30 from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.

In [ ]:
L = [10,20,30,40,50,60,70,80]

In [ ]:
L.append(200)
L.append(300)
L

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
L.remove(10)
L.remove(20)
L

[30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
L.sort()
L

[30, 40, 50, 60, 70, 80, 200, 300]

In [ ]:
class Restaurant:
  tax_percent = 18
  no_of_restaurants = 0

  def __init__(self,name,cousine):
    self.restaurant_name = name
    self.cuisine_type = cousine
    Restaurant.no_of_restaurants += 1

  def describe_restaurant(self):
      print("{} is a prestigious restaurant that serves {} cousine.".format(self.restaurant_name , self.cuisine_type))

  def open_restaurant(self):
    print("{} is open for orders now!!".format(self.restaurant_name))

  def change_cousine(self,new_cuisine):
    self.cuisine_type = new_cuisine

  def get_no_of_restaurants(self):
    print("There are total {} restaurants registered.".format(Restaurant.no_of_restaurants))

  @classmethod
  def change_tax(cls,new_tax):
    cls.tax_percent = new_tax
    print("Updated the tax of all restaurants as {}%".format(cls.tax_percent))

In [ ]:
restaurant1 = Restaurant("Punjabi Angithi","North Indian")

#Restaurant.describe_restaurant(restaurant1)
#same as-
restaurant1.describe_restaurant()
restaurant1.open_restaurant()
restaurant1.get_no_of_restaurants()

Punjabi Angithi is a prestigious restaurant that serves North Indian cousine.
Punjabi Angithi is open for orders now!!
There are total 1 restaurants registered.

In [1]:
d = {1:"one" , 2:"two" , 3:"three" , 4:"four"}
d.update({6:"six"})  # adding the value
print(d)
d.pop(1) # removing the value corresponding to key 1
print(d)

if(2 in d.keys()):
  print("2 is in dictionary")
else:
  print("2 is not in the dictionary")

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 6: 'six'}
{2: 'two', 3: 'three', 4: 'four', 6: 'six'}
2 is in dictionary

In [ ]:
dict_class = {3018 : "Nishant" , 3700 : "Avisek" , 3552 : "Achintya" , 3071 : "Yash"}
print(dict_class)

dict_class.pop(3071)

if(1700 in dict_class.keys()):
  print("1700 is in dictionary")

{3018: 'Nishant', 3700: 'Avisek', 3552: 'Achintya', 3071: 'Yash'}

In [ ]:
import random
l = [random.randint(100,900) for _ in range(100) ]
print(l)
odd = []
even = []

def prime(n):
  for i in range(2,n):
    if(n%i == 0):
      print(str(n) + " is not a prime number")
      return;

  print(str(n) + " is a prime number")

for i in range(100):
  prime(l[i])

[739, 874, 183, 292, 736, 735, 593, 665, 232, 337, 442, 821, 743, 789, 788, 576, 661, 854, 740, 430, 121, 650, 517, 589, 835, 201, 734, 403, 101, 506, 403, 300, 581, 527, 533, 497, 127, 504, 410, 138, 445, 467, 195, 390, 566, 577, 751, 784, 826, 889, 877, 486, 768, 372, 652, 855, 411, 634, 655, 486, 682, 656, 239, 410, 428, 812, 163, 642, 115, 387, 780, 362, 244, 289, 818, 430, 425, 729, 330, 872, 621, 380, 879, 526, 180, 794, 386, 541, 275, 262, 365, 238, 887, 707, 140, 737, 816, 428, 332, 277]
739 is a prime number
874 is not a prime number
183 is not a prime number
292 is not a prime number
736 is not a prime number
735 is not a prime number
593 is a prime number
665 is not a prime number
232 is not a prime number
337 is a prime number
442 is not a prime number
821 is a prime number
743 is a prime number
789 is not a prime number
788 is not a prime number
576 is not a prime number
661 is a prime number
854 is not a prime number
740 is not a prime number
430 is not a prime number
121 is not a prime number
650 is not a prime number
517 is not a prime number
589 is not a prime number
835 is not a prime number
201 is not a prime number
734 is not a prime number
403 is not a prime number
101 is a prime number
506 is not a prime number
403 is not a prime number
300 is not a prime number
581 is not a prime number
527 is not a prime number
533 is not a prime number
497 is not a prime number
127 is a prime number
504 is not a prime number
410 is not a prime number
138 is not a prime number
445 is not a prime number
467 is a prime number
195 is not a prime number
390 is not a prime number
566 is not a prime number
577 is a prime number
751 is a prime number
784 is not a prime number
826 is not a prime number
889 is not a prime number
877 is a prime number
486 is not a prime number
768 is not a prime number
372 is not a prime number
652 is not a prime number
855 is not a prime number
411 is not a prime number
634 is not a prime number
655 is not a prime number
486 is not a prime number
682 is not a prime number
656 is not a prime number
239 is a prime number
410 is not a prime number
428 is not a prime number
812 is not a prime number
163 is a prime number
642 is not a prime number
115 is not a prime number
387 is not a prime number
780 is not a prime number
362 is not a prime number
244 is not a prime number
289 is not a prime number
818 is not a prime number
430 is not a prime number
425 is not a prime number
729 is not a prime number
330 is not a prime number
872 is not a prime number
621 is not a prime number
380 is not a prime number
879 is not a prime number
526 is not a prime number
180 is not a prime number
794 is not a prime number
386 is not a prime number
541 is a prime number
275 is not a prime number
262 is not a prime number
365 is not a prime number
238 is not a prime number
887 is a prime number
707 is not a prime number
140 is not a prime number
737 is not a prime number
816 is not a prime number
428 is not a prime number
332 is not a prime number
277 is a prime number